<%= form_for List.new do |f| %>

<div class="login-form">

<div class="field">
	<%= f.label :bookmark %><br>
	<%= f.text_field :url %>
</div>

<div class="field">
	<%= f.label :description %><br>
	<%= f.text_field :description %>
</div>

<div class="actions">
	<%= f.submit %>
</div>

<% end %>

</div>