
<div class="login-form">
	<h1>New Bookmark</h1>
</div>

<!--
<div class="bookmark-content"> -->

<% @bookmarks.each do |bookmark| %>
	<p>Posted by: <%= bookmark.user.firstName %>
		<img src="<%= bookmark.user.avatar.fifty %>">
	</p>

	<p>
		<%= link_to, bookmark.title %>
		<a href="<%= bookmark.url %>" target="_blank"><%= bookmark.title %></a><br>
		<a href="<%= bookmark.url %>" target="_blank"><img src="<%= bookmark.image %>"></a>
	</p>

	<p><%= bookmark.description %></p>


	<%= form_for([bookmark, Note.new]) do |f| %>

		<div class="field">
			<%= f.label :comment %><br />
			<%= f.text_area :comment %>
		</div>
		<div class="actions">
			<%= f.submit %>
		</div>

	<% end %>

	<% bookmark.notes.reverse.each do |note| %>
	<p>
		<img src="<%= bookmark.user.avatar.thumb %>"> <%= note.comment %></p>


		<% if note.user != nil %>
		<!-- <em> by <%= note.user.firstName %></em> -->
		<!-- Added on: <%= note.created_at %> -->
		<% end %>
	</p>
	<% end %>


	<%= link_to "Delete", bookmark, method: :delete, data: {confirm: "Are you sure you want to delete this bookmark?"}  %>
	<!-- </div> -->
<% end %>



