<h1>New Bookmark</h1>

<%= render 'form' %>

<% @bookmarks.reverse.each do |bookmark| %>


<div class="bookmark-content">
	<p>Posted by: <img src="<%= bookmark.user.avatar %>"<%= bookmark.user.firstName %></p>
	<p>
	<p><a href="<%= bookmark.url %>" target="_blank"><%= bookmark.title %></a></p>
	
	  <a href="<%= bookmark.url %>" target="_blank"><img src="<%= bookmark.image %>", width="300" height="100%"></a><br>
	  <p><%= bookmark.description %></p> 
<%= link_to "Delete", bookmark, method: :delete, data: {confirm: "Are you sure you want to delete this bookmark?"}  %>
</div>
<% end %>

