<h1>New Bookmark</h1>

<%= render 'form' %>

<% @bookmarks.reverse.each do |bookmark| %>

	<p><a href="<%= bookmark.url %>" target="_blank"><%= bookmark.url %></a></p>
	<p><%= bookmark.description %></p>
	<p><%= bookmark.title %></p>

<% end %>

